body {
    background-color: deepskyblue;

}

nav a {
    text-align: right;
    float: right;
    margin: 10px;
    color: aqua;
    font-size: 25px;
}

a:hover {
    color:white;
}
h1 {
    text-align: center;
    color: darkolivegreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;    
}
image {
    border: firebrick;
    size: 50px 200px
}
p {
    font-size: large;
    text-align: center;

}